html, body
{
  height: 100vh;
}

.viewer
{
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 100vw;
  height: 100vh;
}

.message {
  position: absolute;
  padding: 8px 16px;
  left: 20px;
  bottom: 20px;
  color: #ccc;
  background-color: rgba(0, 0, 0, .5);
  font-family: "Proxima Nova", Arial, sans-serif;
}
